body{
    background-color:ghostwhite;
}
div{
    text-align: left;
}
.bar{
    text-align: center;
    font-size: large;
}
.tasks{
    color: ghostwhite;
}
@media (min-width: 1200px)
{
    .container
    {
        max-width: 1300px;
    }
}
/* .col{
    padding-left: 77px;
} */

.slick-prev:before, .slick-next:before {
    color:black !important;
}

.navbar-dark .navbar-nav .nav-link{
    color : ghostwhite;
}

.slick-slide {
    /* width: 500px; */
    box-sizing: border-box;
}
